name: terraform-ci
# test change d
on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]

jobs:

  terraform-fmt:
    name: terraform-fmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.0"

      - name: Terraform Format Check
        run: terraform fmt -check -recursive


  terraform-validate:
    name: terraform-validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.0"

      - name: Terraform Validate
        run: terraform validate -no-color


  terraform-plan:
    name: terraform-plan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.0"

      - name: Terraform Init
        working-directory: ./dev
        run: terraform init

      - name: Terraform Plan
        working-directory: ./envs/dev
        run: terraform plan -no-color